{% extends 'layout.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
{% endblock %}

{% block main %}
<div class="animated fadeIn">
    <div class="text-center" style="padding-bottom: 20px;">
        <h3>
          {{count}} valores coletados até o momento.
          <small class="text-muted">Os valores mais atuais são:</small>
        </h3>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                    <i class="nav-icon cui-drop" style="font-size: 80px;"></i>
                    <div class="text-value text-right" style="font-size: 50px;">{{sensor.humidity}}</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                    <i class="nav-icon cui-sun" style="font-size: 80px;"></i>
                    <div class="text-value text-right" style="font-size: 50px;">{{sensor.sunlight}}</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card text-white bg-danger">
                <div class="card-body pb-0">
                    <i class="nav-icon icon-fire" style="font-size: 80px;"></i>
                    <div class="text-value text-right" style="font-size: 50px;">{{sensor.temperature}}</div>
                </div>
            </div>
        </div>

    </div>

    <form method="post" action="{% url 'irrigation' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 text-center">
                <input type="checkbox" {% if "ON" == status %} checked {% endif %}
                    name="check_irrigation" onChange="this.form.submit()"
                    style="size: 50px;" data-toggle="toggle"
                    data-width="300" data-height="75"
                    data-onstyle="success" data-offstyle="danger"
                    data-on="<i class='fa fa-play'></i> IRRIGAÇÃO LIGADA"
                    data-off="<i class='fa fa-pause'></i> IRRIGAÇÃO DESLIGADA">
            </div>
        </div>
    </form>
</div>
{% endblock %}